<html>
<head>
<title> First Site</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<style>
.navbar {
    width:100%;
    //70% was enough for me 
     
}
.container-fluid {
    width:100%;
    height:15%; //70% was enough for me  
    position: relative;
}
.home{
   min-height: 100% !important;
    font-size: 45px;
     text-align: center;
     /* Center vertically */
   
  
}
.navbar-brand {  height: auto;
  min-height: 100% !important;}
  .dropdown-toggle{
     height: auto;
  min-height: 100% !important;
  }</style>
<body style="font-family: 'PT Sans Narrow', sans-serif;" >

<nav class="navbar navbar-inverse">
  <div class="container-fluid" style="background-color:rgb(94, 112, 230);" >
    <div class="navbar-header" >
      <a class="navbar-brand" style=" color: black;padding-top:15%"href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li  ><a href="/" class="home" style=" color: black;padding-top:25%">Home</a></li>
     
      <li><a href="/productList"  class="home"style=" color: black;padding-top:18%"> Products</a></li>
      {% if testme in 'loggedin' %}
       <li><a href="/profile" class="home"  style=" color: black;padding-top:25%">Profile</a></li>
       {% endif %}

    </ul>
{% if testme in 'notlogedin' %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"  data-toggle="modal" data-target="#modalRegisterForm" style="color:black"><span></span> Sign Up</a></li>
      <li><a href="#"   data-toggle="modal" data-target="#modalLoginForm" style="color:black"><span></span> Login</a></li>
    </ul>
{% else %}
    <ul class="nav navbar-nav navbar-right">
     <li><a href="#"  style=" color: black;">Welcome <b> {{name}}</b></a></li>
      <li><a href="/logout"   data-toggle="modal"  style="color:black"><span></span> Logout</a></li>
    </ul>
    {% endif %}
  </div>
</nav>
  
<div>
 {% for message in messages%}
 <h3>{{message}}</h3>
 {% endfor%}
 </div>
<style>body{ color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;  }
</style>

          <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document" >
              <div class="modal-content" style="width:80%">
                        <div class="modal-header text-center" style="background-color:red">
                          <h4 class="modal-title w-100 font-weight-bold" >Sign up</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        
                <div class="modal-body mx-3" style="width:50%;margin: auto;" >
                 <form style="padding:10px" action="/signup" method='post'>
                  {% csrf_token %}
                   <div class="form-group">
                          <div class="md-form mb-5">
                         
                          <label data-error="wrong" data-success="right" for="orangeForm-Firstname">First name</label>
                          <input type="text" id="orangeForm-Firstname" name="orangeForm-Firstname" class="form-control validate" required>
                        
                          </div>
                   </div>
                   <div class="form-group">
                        <div class="md-form mb-5">
                         
                          <label data-error="wrong" data-success="right" for="orangeForm-Lastname">Last name</label>
                          <input type="text" id="orangeForm-Lastname" name="orangeForm-Lastname" class="form-control validate" required>
                        
                        </div>
                  </div>
                   <div class="form-group">
                        <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
                          <input type="email" id="orangeFormemail"  name="orangeFormemail" class="form-control validate" required>
                        </div>
                  </div>
                   <div class="form-group">
                          <div class="md-form mb-4">
                            <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
                            <input type="password" id="orangeForm-pass" name="orangeForm-pass" class="form-control validate" required>
                          </div>
                  </div>
                
                  <div class="modal-footer d-flex justify-content-center">
                    <button type = "submit"class="btn btn-deep-orange">Sign up</button>
                  </div>
               
                </form>
              </div>
            </div>
          </div>


</div>
<!-- login form -->

        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document" >
            <div class="modal-content"  style="width:80%">
              <div class="modal-header text-center" style="background-color:red">
                <h4 class="modal-title w-100 font-weight-bold">Log In</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="width:50px;height:50px;">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
               <form style="padding:10px" action="/login" method='post'>
              {% csrf_token %}
              <div class="modal-body mx-5" style="width:50%;margin: auto;" >
              
                <div class="md-form mb-5">
                   <label data-error="wrong" data-success="right" for="login-userid"> UserId</label>
                  <input type="text" id="login-userid" name="login-userid" class="form-control validate">
                
                </div>

                <div class="md-form mb-4">
                  <label data-error="wrong" data-success="right" for="login-pass">Password</label>
                  <input type="password" id="login-pass" name="login-pass" class="form-control validate">
                </div>

              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button type = "submit" class="btn btn-deep-orange">LogIn</button>
              </div>
              </form>
            </div>
          </div>
        </div>
</div>

{% block content %}

{% endblock  %}
</body>
</html>